/* body{
    background-color: black;
    color: white;
} */

.left{
    width: 25vw;
}
.right{
    width:75vw;
}
.home ul li{
    width: 12px;
    list-style: none;
    display: flex;
    gap: 12px;
}